In [11]:
# Initial imports
import pandas as pd
import numpy as np
import datetime as dt
from pathlib import Path

%matplotlib inline



# Reading S&P 500 Closing Prices set path, read path, set datetime and set index as the date
sp500_path = Path("sp500_history.csv")
sp500_df = pd.read_csv(sp500_path, parse_dates=True, infer_datetime_format=True)
sp500_df["Date"] = pd.to_datetime(sp500_df["Date"])
sp500_df.set_index("Date", inplace=True)
sp500_df.sort_index(inplace=True)
sp500_df.tail()

               Close
Date
2019-04-16  $2907.06
2019-04-17  $2900.45
2019-04-18  $2905.03
2019-04-22  $2907.97
2019-04-23  $2933.68